[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = 95363669+yeksax@users.noreply.github.com
	name = Hugo Almeida
[init]
	defaultBranch = main
[core]
	editor = vim
